{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Main page</title>
{% endblock title %}

{% block content %}
  <h1>Blog</h1>

  <p>Welcome to blog app, a web project built on the Django and Django REST Framework stack, designed for creating,
    managing, and interacting with blog content.</p>
  <p>More information about the project can be found in the project repository's Readme on <a href="YOUR_GITHUB_LINK" target="_blank" class="text-primary">Github</a></p>

  <h2>UML Models</h2>
  <p>A UML diagram of the site's Django model structure is shown below. </p>

  <div>
    {% load static %}
    <img src="{% static "blog/images/db_schema.png" %}" alt="Database Scheme"/>
  </div>
  
  
{% endblock content %}

