<ul class="pagination justify-content-center">
  {% if comments.has_previous %}
    <li class="page-item">
      <a href="?posts_page={{ posts.number }}&comments_page={{ comments.previous_page_number }}"
         class="page-link">Prev</a>
    </li>
  {% else %}
    <li class="page-item disabled"><a href="" class="page-link">Prev</a></li>
  {% endif %}

  {% for page_num in comments.paginator.page_range %}
    {% if page_num >= comments.number|add:-1 and page_num <= comments.number|add:1 or page_num == 1 or page_num == comments.paginator.num_pages %}
      <li class="page-item {% if page_num == comments.number %}active{% endif %}">
        <a href="?posts_page={{ posts.number }}&comments_page={{ page_num }}"
           class="page-link">{{ page_num }}</a>
      </li>
    {% elif page_num == 2 or page_num == comments.paginator.num_pages|add:-1 %}
      <li class="page-item"><span class="page-link">...</span></li>
    {% endif %}
  {% endfor %}

  {% if comments.has_next %}
    <li class="page-item">
      <a href="?posts_page={{ posts.number }}&comments_page={{ comments.next_page_number }}"
         class="page-link">Next</a>
    </li>
  {% else %}
    <li class="page-item disabled"><a href="" class="page-link">Next</a></li>
  {% endif %}
</ul>