{% load static %}
{% load blog_extras %}
{% load bleach_tags %}

<div id="comment_{{ comment.id }}" class="container-center">
    <span>
    <img
        class="img-thumbnail rounded-circle author-photo" src="{{ object.profile.photo.url }}" width="40"
        height="40" alt="user photo">
    </span>
  <div class="author-name-info">
    <strong>{{ object.username }}</strong>
    ,
    <span
        class="author-object-info">{{ comment.created_at }}
      {% if comment.created_at != comment.updated_at %}
        (<em>updated_at: {{ comment.updated_at }}</em>)
      {% endif %}
    In: <a href="{% url 'blog:post-detail' comment.post.pk %}">{{ comment.post }}</a>
    </span>
    <br>

    {% if user.is_staff or comment.author == request.user %}
        <a class="btn btn-xs btn-warning text-white" href="{% url 'blog:edit-comment' comment.post.pk comment.pk %}">Edit</a>
        <a class="btn btn-xs btn-danger text-white" href="{% url 'blog:delete-comment' comment.post.pk comment.pk %}">Delete</a>
    {% endif %}
    <br>
  </div>
</div>

<div class="comment-content image-content">
  {{ comment.text|remove_empty_paragraphs|safe|bleach }}
</div>
<div class="container-center">
  <div class=comment-actions">
    <a href="{% url 'rating:comment-rating' comment.post.pk comment.pk 'LIKE' %}?next={{ request.path }}?comments_page={{ comments.number }}#comment_{{ comment.id }}">
      <svg class="bi pe-none" width="14" height="14"
           style="color:{% if comment.user_vote == 1 %}lightgreen{% else %}gray{% endif %}">
        <use href="#upvote"></use>
      </svg>
    </a>

    {% include 'includes/rating_color.html' with rating=comment.rating %}
    <a
        href="{% url 'rating:comment-rating' comment.post.pk comment.pk 'DISLIKE' %}?next={{ request.path }}?comments_page={{ comments.number }}#comment_{{ comment.id }}">
      <svg class="bi pe-none me-2" width="14" height="14"
           style="color:{% if comment.user_vote == -1 %}lightcoral{% else %}gray{% endif %}">
        <use href="#downvote"></use>
      </svg>
    </a>
    <a href="{% url 'blog:reply-comment' comment.post.pk comment.pk %}">Reply</a>
  </div>
</div>
<br>
